extends layout

block content
	div.area
		h2 Horses

		table.table.table-striped
			thead.thead-dark
				th Horse ID
				th Description
				th Date
				th

			each horse in horses
				tr
					td= horse.HorseID
					td= horse.Note
					td= horse.AdmissionDate
					td 
						a(href="horse/"+horse.HorseID) Details