doctype html
html
	head
		title= `${title}`
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		div.app
			div.panel.side-panel
				div.fixed
					h1.logo HCU Admin

					nav
						div.button-group
							a.btn.btn-primary(href="/add-horse") Add Horse
							a.btn.btn-light(href="/") Browse Horses
							a.btn.btn-light(href="/reports") Reports
							a.btn.btn-light(href="/users") Users
							a.btn.btn-danger(href="/logout") Logout

			div.panel.main-panel

				div.content

					block content